<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Titulo}}</title>
</head>
<body>
    {% csrf_token %}
    <h1>Tabla de productos</h1>
    <TABLE BORDER>
        <TR>
            <TH>ID</TH>
            <TH>Nombre del producto</TH>
            <TH>SKU</TH>
            <TH>Tag del producto</TH>
            <TH>Costo</TH>
            <TH>Status</TH>
        </TR>
        {% for producto in Productos %}
        <TR>
            <TD>{{producto.id}}</TD>
            <TD>{{producto.product_name}}</TD>
            <TD>{{producto.SKU}} </TD>
            <TD>{{producto.tag_product}}</TD>
            <TD>{{producto.cost}}</TD>
            <TD>{{producto.status}}</TD>
        </TR>
        {% endfor %}
    </TABLE>
</body>
</html>